streamlit==1.14.0
pandas
numpy
matplotlib
statsmodels
prophet
neuralprophet
pmdarima
streamlit torch
pytorch-lightning
tensorflow
keras
--find-links https://download.pytorch.org/whl/torch_stable.html
